.Justifier {
  display: flex;
  height: 50px;
}

.Justifier__first,
.Justifier__second {
  display: flex;
  align-items: center;
  width: 100%;
}

.Justifier__first {
  max-width: 70%;
}

.Justifier__second {
  justify-content: center;
  max-width: 30%;
}
